/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root {

    --primary-color: #3b141c;
    --secondary-color: #f3961c;
    --dark-color: #252525;
    --white-color: #fff;
    --light-gray-color: #f2f2f2;
    --site-max-width: 1300px;
}
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--white-color);
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color:  #3b141c;
}

nav {
    display: flex;
    padding: 15px 0 15px 20px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: var(--site-max-width);
}

nav .nav_logo a {
    display: flex;
    gap: 15px;
    align-items: center;
}
nav .nav_logo a img {
    max-width: 55px;
    border-radius: 20px 20px;
}

nav .nav_logo h2 {
    color: var(--white-color);
    font-weight: 600;
    font-size: 32px;
}

nav ul {
    display: flex;
    gap: 10px;
}

nav ul li a {
    display: block;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 1000;
    color: var(--white-color);
    border-radius: 30px;
    transition: all 0.2s ease;
}

nav ul li a:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.hero_section {
    min-height: 100vh;
    background: var(--primary-color);
}
.hero_container {
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: center;
    padding-top: 85px;
    min-height: calc(100vh - 85px);
    justify-content: space-between;
}
.hero_container .image_section {
    max-width: 100%;
}

.hero_container .image_section img {
    width: 100%;
    height: 600px;
    border: 2px solid black;
    border-radius: 10px 45px;
    
}
.hero_section .text_section{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: center;
    text-align:justify;
    color: #ccf31e;
}

.about_us {
    padding: 60px 20px 120px;
    background: var(--light-gray-color);
}

.about_container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.about_container .text_section {
    max-width: 70%;
}

.about_container .text_section p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: center;
    text-align:justify;
}

.about_container .image_section {
    max-width: 50%;
}

.about_container .image_section img {
    width: 100%;
    border: 2px solid black;
    border-radius: 20px 15px;
}
.about_container1 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.about_container1 .text_section1 {
    max-width: 70%;
}

.about_container1 .text_section1 p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: center;
    text-align:justify;
}

.about_container1 .image_section1 {
    max-width: 50%;
}

.about_container1 .image_section1 img {
    width: 100%;
    border: 2px solid black;
    border-radius: 20px 15px;
}
/* Gallery Section */
.gallery {
    background: var(--white-color);
    padding: 60px 20px 100px;
    display:flex;
    flex-direction: column;
}

.gallery .gallery_container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
    flex-wrap: wrap;
}

.gallery_container .gallery_items {
    width: calc(100% / 3 - 32px);
    overflow: hidden;
    border-radius: 10px;
}

.gallery .gallery_container img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.4s ease;
    border: 3px solid purple;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery_container .gallery_items:hover img {
    transform:scale(1.3);
}

/* Contact Section */
.contact {
    background: var(--light-gray-color);
    padding: 60px 20px 100px;
}

.contact_container {
    display:inline-block;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.contact_container .contact_form {
    max-width: 65%;
    width: 100%;
}

.contact_container .contact_form .field {
    margin: 20px 0;
}

.contact_container .contact_form .field label {
    display: block;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 8px;
}

.contact_container .contact_form .field input {
    width: 100%;
    height: 50px;
    padding: 0 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #af9f9f;
}

.contact_container .contact_form textarea {
    width: 100%;
    height: 200px;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #615555;
    resize: vertical;
}

.contact_container .contact_form .button {
    padding: 8px 28px;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: 17px;
    font-weight: 600;
    transition: all 0.4s ease;
}

.contact_container .contact_form .button:hover {
    color: var(--primary-color);
    background: transparent;
    border-color: var(--primary-color);
}

.contact_text .contact_items {
    display: flex;
    gap: 20px;
    margin: 80px 0;
}

.contact_text .contact_items i {
    font-size: 32px;
    margin-top: 5px;
}
/* Location Section */

.location {
    background: var(--light-gray-color);
    padding: 60px 20px 100px;
}
.location_container {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}
/* Footer Section */
footer {
    background: #1b1b1b;
    color: var(--white-color);
    padding: 60px 20px;
    display: inline-block;
}

.footer_section {
    
    justify-content: space-between;
    display:inline-block;
}

.footer_section h3 {
    font-size: 22px;
    margin-bottom: 16px;
    font-weight: 600;
}

.footer_section .footer_logo a {
    display: flex;
    gap: 15px;
    align-items: center;
    color: var(--white-color);
}

.footer_section .footer_logo a img {
    max-width: 55px;
    border: 2px solid black;
    border-radius: 20px 20px;
}

.footer_section .footer_logo a h2 {
    font-weight: 600;
}

.footer_section .useful_links ul li {
    margin: 20px 0;
}

.footer_section .useful_links ul li a {
    color: var(--white-color);
    font-size: 17px;
}

.footer_section .useful_links ul li a:hover {
    text-decoration: underline;
}

.footer_section .contact_us ul li {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer_section .contact_us ul li i {
    font-size: 25px;
}

.footer_section .contact_us ul li span {
    font-size: 17px;
}

.footer_section .follow_us i {
    font-size: 26px;
    margin-right: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer_section .follow_us i:hover {
    color: var(--secondary-color);
}




